* {
  font-family: 'Poppins', sans-serif; 
  padding: 20px;
  text-align: center;
}

h1 {
  margin-top: 5%;
  color: #D9D9D9;
}

h2 {
  margin-bottom: 3%;
  color: #000000;
  background-color: transparent;
}


::placeholder {
  color: #7a7a7a;
  font-family: 'Poppins', sans-serif; 
  padding: 10px;
}

.airline-list {
  background-color: #eaeaea;
  width: auto;
  height: auto;
}

.airline-list h2 {
  margin-bottom: 3%;
  color: #000000;
}

.airline-list-container {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.airline-list li {
  margin-bottom: 8px;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.airline-list li:hover {
  background-color: #eaeaea;
}